body{
  font: 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: white;
  background-repeat: repeat;
  background-position: right top;
  background-attachment: fixed;
  color: black;
}

header h1 {
    !background-color: #9b59b6;
    background-color: white;
    border: 4px black solid;
    color: black;
    margin: 0;
    left: 0;
    right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-transform: capitalize;
}

#subheaders {
  list-style-type: none;
  width: 15%;
  min-width: 200px;
  float: left;
  display: inline-block;
}

.subheader-item {
  margin: 15px;
  padding: 0;
  display: block;
  border: solid 4px black;
  font-weight: bold;  
  text-align: center;
  color: black;
  text-transform: uppercase;
  font: 20px;
  padding: 5px;
}

ul a {
  text-decoration: none;
}

.subheader-item p {
  font: 15px;
}

#content {
  padding-left: 10px;
  left: 0;
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 75%;
}

#page {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  display: inline-block;
  min-width: 350px;
  width: 50%;
  height: 100%;
  border: 4px black solid;
}

#page h1 {
  padding: 0;
  color: red;
  text-align: center;
}

#page img {
  max-width: 95%;
  left: auto;
  right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

#fun {
  position: absolute;
  margin: auto 10px;
  display: inline;
  float: right;
  height: 450px;
  min-width: 350px;
  width: 50%;
}
#help {
  float:right;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  -webkit-animation: color_change 3s infinite alternate;
  -moz-animation: color_change 3s infinite alternate;
  -ms-animation: color_change 3s infinite alternate;
  -o-animation: color_change 3s infinite alternate;
  animation: color_change 3s infinite alternate;
}

/*Animations for fade in/out */
.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}


/*Definitions for color change*/
@-webkit-keyframes color_change {
  0% {color: black;} 
  25% {color: red;} 
  50% {color: green;} 
  75% {color: blue;} 
  100% {color: purple;} 
}
@-moz-keyframes color_change {
  0% {color: black;} 
  25% {color: red;} 
  50% {color: green;} 
  75% {color: blue;} 
  100% {color: purple;} 
}
@-ms-keyframes color_change {
  0% {color: black;} 
  25% {color: red;} 
  50% {color: green;} 
  75% {color: blue;} 
  100% {color: purple;} 
}
@-o-keyframes color_change {
  0% {color: black;} 
  25% {color: red;} 
  50% {color: green;} 
  75% {color: blue;} 
  100% {color: purple;}  
}
@keyframes color_change {
  0% {color: black;} 
  25% {color: red;} 
  50% {color: green;} 
  75% {color: blue;} 
  100% {color: purple;} 
}

/*CSS for bouncing icons*/
/* keyframes definition for WebKit browsers */

@-webkit-keyframes travel {
  from { left: 0;     }
  to   { left: 70%; }
}

@-webkit-keyframes bounce {
  from, to  {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    bottom: 70%;
    -webkit-animation-timing-function: ease-in;
  }
}

@-webkit-keyframes spin {
  from {                                     }
  to   { -webkit-transform: rotateZ(360deg); }
}

/* keyframes definition for other browsers */

@keyframes travel {
  from { left: 0;     }
  to   { left: 70%%; }
}

@keyframes bounce {
  from, to  {
    bottom: 0;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 70%;
    animation-timing-function: ease-in;
  }
}

@keyframes spin {
  from {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#stage {
  position: absolute;
  margin: 1em auto;
  display: inline;
  float: right;
  height: 80%;
  width: 100%;
  border: black solid 4px;
  padding: 0;
}

.traveler {
  position: absolute;
  width: 20px;
  height: 100%;

  -webkit-animation-name: travel;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 4.2s;

  animation-name: travel;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 4.2s;

}

.bouncer {
  cursor: pointer;
  width: auto;
  height: auto;
  position: absolute;

  -webkit-animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3.8s;

  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 3.8s;
}

#traveler-1 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

#bouncer-1 {
  -webkit-animation-duration: 3.8s;
  -webkit-animation-duration: 3.8s;
}

#traveler-2 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

#bouncer-2 {
  -webkit-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#traveler-3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

#bouncer-3 {
  -webkit-animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

#traveler-4 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

#bouncer-4 {
  -webkit-animation-duration: 7s;
  -webkit-animation-duration: 7s;
}

#traveler-5 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

#bouncer-5 {
  -webkit-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}