html {
  font-family: arial, helvetica, sans-serif;
  background-color: #343c7a;
}

body {

}

textarea:focus, input:focus{
    outline: none;
}

.title-text {
  font-family: Bungee, cursive;
  letter-spacing: -2px;
  color: rgba(0,0,255,0.5);
  -webkit-text-stroke: 1px #d450d8;
  text-shadow:
     3px 3px 0 #777,
   -1px -1px 0 #777,
    1px -1px 0 #777,
    -1px 1px 0 #777,
     1px 1px 0 #777;
}

#title {
  line-height: 40px;
  width: auto;
}

#splashscreen {
  position: relative;
  width: 500px;
  height: 400px;
  top: 20px;
  left: 50%;
  text-align: center;
  font-size: 1.2em;
  display: block;
  margin: 0 0 0 -250px;
}

#splashscreen-message {
  color: white;
  font-size: 1.2em;
  border: 3px solid rgb(225, 226, 226)

}

#score {
  -webkit-text-stroke: 0;
  letter-spacing: 0px;

}

#mainwindow {
  position: absolute;
  width: 810px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin: -400px 0 0 -405px
}


#header h1 {
  display: inline;
  position: relative;
  font-size: 2.4em ;
  }


#header {
  text-align: center;
  position: relative;
  margin-bottom: 10px;

}

#thought {
  width: 500px;
  /*border: 5px solid rgba(0, 0, 255, .4);*/
  border-radius: 5px;
  font: bold 1.5em;
  position: relative;
  top: 0px;
  color: white;
  margin-left: 10px;
  padding: 2px;
  display: inline-block;


}

#thought-text {
  font-weight: bold;
}

#hint {
  position: relative;
  border: 5px solid rgba(219, 157, 2, .7);
  border-radius: 5px;
  width: auto;
  color: white;
  padding: 2px;
  display: inline-block;
}

#email {
  position: relative;
  background: url("./img/blank_email.png") no-repeat center center;
  background-size: cover;
  overflow: auto;
  top: 50%;
  left: 50%;
  width: 810px;
  height: 476px;
  overflow-y: hidden;
  margin: -273px 0 0 -405px;
}

#titlebar {
  color: white;
  top: 0;
}

#recepients {
  top: 40px;
}

#subject {
  top: 4px;

}
.button {
  display: flex;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  margin: 10px;
  padding: 12px 12px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  font-family: Bungee;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  color: #202129;
  background-color: #e1e2e2;
}

.button:hover {
  transition: all 60ms ease;
  opacity: .7;
}

.bar {
  position: relative;
  height: 32px;
  padding: 10px 0 0 10px;
}

.bar input {
  border: none;
  background: transparent;
  width: 90%;
}

#body {
  position: relative;
  height: 302px;
  width: 800px;
  margin: 4px;
}

#body textarea  {
  border: 0;
  background: transparent;
  width: inherit;
  height: inherit;
  font-size: 16pt;
}

#send {
  position: relative;
  width: 50px;
  height: 9px;
  top: -6px;
  margin-left: 8px;
  background: 0;
}

#send:hover {
  background-color: rgba(255, 255, 255, .1);
}

#timer {
  display: none;
  position: relative;
  top: 140px;
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 30px;
}

#timer-text {
  font-size: 1em;
  color: red;
  width: 20px;
  padding-left: 10px;
}

.bar label {
  display: inline-block;
  width: auto;
  text-align: right;
  color: #777777;
}​



.something {

}
