<!DOCTYPE html>
<html ng-app>
	<meta charset="utf-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css"/>
	<title>william thompson</title>

	<header>
		<div ng-init="headers = [{text: 'about', src: 'about'}, {text: 'projects', src: 'project'}, {text: 'music i like', src: 'tumblr'}, {text: 'resume' src: 'resume'}]">
			<h1 ng-click="showHeaders = !showHeaders">will thompson</h1>
			<div class="subheaders" ng-show="showHeaders">
				<ul ng-repeat="sub in headers">
					<li class='subheader-item' ng-click='page=item.src'>{{ item.text }}</li>
				</ul>
			</div>
		</div>
	</header>
	<body>
		<div id="content">
			{{page}}
		</div>
	</body>


<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
</html>